---
import { getCollection } from 'astro:content'

import PageLayout from '~layouts/page.astro'
import List from '~components/list.astro'
import Pagination from '~components/pagination.astro'
import { PAGINATION_COUNT } from '~/config'

const { page } = Astro.props

export async function getStaticPaths({ paginate }: any) {
  const articles = await getCollection('articles')
  const sortedArticles = articles.sort(
    (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )
  return paginate(sortedArticles, { pageSize: PAGINATION_COUNT })
}
---

<PageLayout
  title="Articles"
  description="Thoughts and personal experiences on front end development, and sometimes blogging about other stuff!"
  gradientStart="from-cyan-500"
  gradientEnd="to-blue-600"
>
  <div class="mx-auto max-w-3xl">
    <List items={page.data} />
    <Pagination page={page} />
  </div>
</PageLayout>
