---
import PageLayout from '@layouts/page.astro'
import List from '@components/list.astro'
import Pagination from '@components/pagination.astro'
import { PAGINATION_COUNT } from '@/config'
import Courses from '@components/cta/courses.astro'
import type { GetStaticPathsOptions } from 'astro'
import { getCollection } from 'astro:content'

const { page } = Astro.props

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection('posts')
  const sortedPosts = posts.sort(
    (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )
  return paginate(sortedPosts, { pageSize: PAGINATION_COUNT })
}
---

<PageLayout
  title="Posts"
  description="Thoughts and personal experiences on front end development, and sometimes blogging about other stuff!"
  gradientStart="from-cyan-500"
  gradientEnd="to-blue-600"
>
  <div class="mx-auto max-w-3xl">
    <List items={page.data} />
    <Pagination page={page} />
    <Courses />
  </div>
</PageLayout>
