---
import PageLayout from '@layouts/page.astro'
import List from '@components/list.astro'
import Pagination from '@components/pagination.astro'
import { PAGINATION_COUNT } from '@/config'
import { getCollection } from 'astro:content'

export async function getStaticPaths({ paginate }: any) {
  const screencasts = await getCollection('screencasts')
  const items = screencasts.sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
  )
  return paginate(items, { pageSize: PAGINATION_COUNT })
}
const { page } = Astro.props
---

<PageLayout
  title="Screencasts"
  description="Screencasts & content creation"
  gradientStart="from-teal-400"
  gradientEnd="to-sky-500"
>
  <div class="mx-auto max-w-3xl">
    <List items={page.data} />
    <Pagination page={page} />
  </div>
</PageLayout>
