---
import Cta from './index.astro'
import proTailwindCorgi from '@/assets/images/corgi-avatar.png'

import { PRO_TAILWIND_URL } from '@config'
---

<Cta image={proTailwindCorgi} href={PRO_TAILWIND_URL} align="left">
  <a href="https://protailwind.com">Pro Tailwind</a> is an advanced-level course on Tailwind CSS, like
  multi-theme and multi-style component strategies. <a href="https://protailwind.com"
    >Sign up today!</a
  ></Cta
>
