---
import { Picture } from 'astro-imagetools/components'

import Layout from '~layouts/base.astro'
import Logo from '~components/logo.astro'
import Navigation from '~components/navigation.astro'
import Footer from '~components/footer.astro'

const title = 'simonswiss | Web designer, developer & content creator'
const description = 'Swiss front end designer and developer based in Sydney, Australia.'
---

<Layout title={title} description={description}>
  <div class="bg-gradient-to-br from-rose-500 to-fuchsia-500">
    <div
      class="space-between mx-auto flex min-h-screen max-w-4xl flex-col px-4 sm:px-8 lg:max-w-5xl"
    >
      <div class="sm:flex-1 sm:pt-24">
        <Logo />
        <div
          class="flex flex-col justify-between space-y-8 text-rose-100 md:flex-row md:items-center md:space-x-8 md:space-y-0"
        >
          <div class="space-y-6 font-party md:space-y-8">
            <p class="text-5xl leading-none md:text-7xl">Hi, my name is Simon.</p>
            <h1 class="text-3xl font-medium leading-snug">
              I'm a hybrid designer, developer, video editor and content creator with an optimistic
              and enthusiastic approach to life!
            </h1>
          </div>
          <div class="flex-shrink-0 group">
            <Picture
              src="/new-avatar.png"
              alt="simonswiss mugshot"
              attributes={{
                img: {
                  class:
                    'ring-[1rem] ring-white/10 rounded-full h-40 w-40 -rotate-12 transform transition group-hover:rotate-0 md:h-52 md:w-52',
                },
              }}
            />
          </div>
        </div>

        <div class="mt-8 sm:mt-16">
          <Navigation />
        </div>

        <div class="relative group max-w-2xl hover:-translate-y-px transition">
          <div
            class="group-hover:translate-x-3 group-hover:translate-y-3 group-hover:-rotate-2 origin-top-left transition duration-75 absolute inset-0 bg-black/30 rounded-2xl"
          >
          </div>
          <div
            class="my-24 rounded-2xl shadow-purple-900/10 shadow-xl flex overflow-hidden ring ring-black relative hover:shadow-purple-900/20 hover:shadow-lg transition-all"
          >
            <div
              class="hidden md:block w-full max-w-[12rem] relative overflow-hidden border-r-[3px] border-black"
            >
              <Picture
                src="/src/images/corgi-avatar.png"
                alt="illustration of the Pro Tailwind corgi mascot"
                attributes={{
                  img: {
                    class: 'min-h-full absolute h-full object-cover origin-right',
                  },
                }}
              />
            </div>
            <div class="relative p-8 grid items-center bg-white">
              <div
                class="md:hidden mb-4 relative h-32 w-32 ring ring-black rounded-full overflow-hidden"
              >
                <Picture
                  src="/src/images/corgi-avatar.png"
                  alt="illustration of the Pro Tailwind corgi mascot"
                  attributes={{
                    img: {
                      class: 'absolute h-full w-full inset-0 object-cover scale-110',
                    },
                  }}
                />
              </div>
              <p class="prose prose-pink prose-lg mb-0 font-party">
                I'm building <a href="https://protailwind.com">Pro Tailwind</a>, an advanced-level
                course on Tailwind CSS. We dig into techniques that scale up with your team. <a
                  href="https://protailwind.com">Sign up today!</a
                >
              </p>
            </div>
            <a href="https://protailwind.com" class="absolute inset-0 z-10"></a>
          </div>
        </div>
      </div>
      <Footer />
    </div>
  </div>
</Layout>
