---
import { getEntry } from 'astro:content'
import { Image } from 'astro:assets'

import Layout from '@layouts/base.astro'
import Logo from '@components/logo.astro'
import Navigation from '@components/navigation.astro'
import Footer from '@components/footer.astro'

import TwitterIcon from '@components/icons/twitter.astro'
import YouTubeIcon from '@components/icons/youtube.astro'
import GitHubIcon from '@components/icons/github.astro'

import avatar from '@/assets/images/new-avatar.png'
import ProTailwindCta from '@components/cta/pro-tailwind.astro'
import EpicWebCta from '@components/cta/epic-web.astro'

const seoTitle = 'simonswiss | Web designer, developer & content creator'
const seoDescription = 'Swiss front end designer and developer based in Sydney, Australia.'
---

<Layout title={seoTitle} description={seoDescription}>
  <div class="bg-linear-to-br from-rose-500 to-fuchsia-500">
    <div
      class="space-between mx-auto flex min-h-screen max-w-4xl flex-col px-4 sm:px-8 lg:max-w-5xl"
    >
      <header class="flex items-center space-x-10 py-4">
        <Logo />
        <Navigation />
      </header>
      <div class="pt-12 sm:flex-1">
        <div
          class="flex flex-col justify-between space-y-12 text-rose-100 md:flex-row md:items-center md:space-y-0 md:space-x-8"
        >
          <div class="font-party space-y-6 md:space-y-8">
            <p class="text-5xl leading-none md:text-7xl">Hi, I'm Simon!</p>
            <h1 class="text-3xl leading-snug font-medium text-pretty">
              I'm a hybrid designer, developer and video producer with an optimistic and
              enthusiastic approach to life!
            </h1>
            <p class="text-3xl leading-snug font-medium text-pretty">
              I teach web dev stuff on <a
                class="underline hover:no-underline"
                href="https://laracasts.com/referral/simonswiss">Laracasts</a
              >, through <a
                class="underline hover:no-underline"
                href="https://www.epicweb.dev/workshops/pixel-perfect-figma-to-tailwind">Epic Web</a
              > and my indie <a class="underline hover:no-underline" href="https://protailwind.com"
                >Pro Tailwind</a
              > platform.
            </p>
            <p class="text-3xl leading-snug font-medium text-pretty">
              I also help folks make <a
                class="underline hover:no-underline"
                href="https://betterdevscreencasts.com">Better Dev Screencasts</a
              >.
            </p>
            <ul class="flex gap-8">
              <li>
                <a href="https://twitter.com/simonswiss">
                  <span class="sr-only">Twitter</span>
                  <TwitterIcon
                    class="h-8 w-8 transition hover:scale-150 hover:-rotate-6 hover:text-black"
                  />
                </a>
              </li>
              <li>
                <a href="https://youtube.com/@simonswiss">
                  <span class="sr-only">YouTube</span>
                  <YouTubeIcon
                    class="h-8 w-8 transition hover:scale-150 hover:rotate-6 hover:text-black"
                  />
                </a>
              </li>
              <li>
                <a href="https://github.com/simonswiss">
                  <span class="sr-only">GitHub</span>
                  <GitHubIcon
                    class="h-8 w-8 transition hover:scale-150 hover:-rotate-6 hover:text-black"
                  />
                </a>
              </li>
            </ul>
          </div>
          <div class="group shrink-0">
            <Image
              src={avatar}
              alt="simonswiss mugshot"
              class="h-40 w-40 -rotate-12 transform rounded-full ring-[1rem] ring-white/10 transition group-hover:rotate-0 md:h-52 md:w-52"
            />
          </div>
        </div>

        <div class="grid gap-8 pt-12 pb-6">
          <EpicWebCta />
          <ProTailwindCta />
        </div>
        <Footer />
      </div>
    </div>
  </div>
</Layout>
