---
import PageLayout from '@layouts/page.astro'
import IntroText from '@components/intro-text.astro'
import YouTubeVideo from '@components/youtube-video.astro'
import ProtailwindCta from '@components/protailwind-cta.astro'
---

<PageLayout
  title="The NavBar: A webdev podcast co-hosted with Jon Meyers from Supabase"
  description="The NavBar is a podcast that helps you NAVigate the web and raise the BAR of your content creation."
  image="/protailwind.png"
  gradientStart="from-blue-400"
  gradientEnd="to-emerald-500"
>
  <div class="mx-auto max-w-3xl pt-10">
    <IntroText>
      The NavBar is a podcast by Jon Meyers and Simon Vrachliotis, covering all
      things web development and content creation.
    </IntroText>

    <YouTubeVideo id="pdFqdgYk8jA" />

    <div
      class="prose prose-purple max-w-none pb-8 pt-10 lg:prose-lg xl:prose-xl"
    >
      <p>
        Watch our shows on <a href="https://www.youtube.com/@navbar8999"
          >YouTube</a
        > and check out <a href="https://navbar.tech">The NavBar website</a>!
      </p>
    </div>
    <hr class="mb-4 ml-0 w-16 border-2 border-t border-gray-300" />
    <ProtailwindCta />
  </div>
</PageLayout>
