---
import { Picture } from 'astro-imagetools/components'

import PageLayout from '~layouts/page.astro'
import IntroText from '~components/intro-text.astro'
import CaptionImage from '~components/caption-image.astro'
---

<PageLayout
  title="Pro Tailwind: advanced-level course on Tailwind CSS"
  description="Advanced Tailwind CSS concepts & patterns. Level up your Tailwind by digging into techniques that scale with your team."
  image="/protailwind.png"
  gradientStart="from-teal-400"
  gradientEnd="to-sky-500"
>
  <div class="pt-10 mx-auto max-w-3xl">
    <IntroText>
      I'm building Pro Tailwind, a course that dives into advanced-level Tailwind CSS concepts and
      patterns.
      <br />
      <br />
    </IntroText>

    <a href="https://protailwind.com">
      <CaptionImage
        src="/src/images/protailwind.png"
        alt="Illustration of Flex the corgi, the Pro Tailwind mascot, surfing a wave while wearing sunglasses."
      />
    </a>

    <div class="prose prose-purple max-w-none pt-10 pb-8 lg:prose-lg xl:prose-xl">
      <p>
        Pro Tailwind skips most of the beginner topics and focuses techniques can that scale with
        your team.
      </p>

      <h2>Together, we will:</h2>
      <ul>
        <li>
          Deconstruct some the most visually interesting parts of the UI, triggering those “think
          outside the box” muscles in the process.
        </li>
        <li>
          Add support for multiple color themes, combining the superpowers of CSS variables and the
          Tailwind Plugin API.
        </li>
        <li>
          Isolate and compose styling concerns to support multiple style variant combinations for a
          given UI component
        </li>
        <li>Share and consume the same UI components across multiple, unrelated projects</li>
      </ul>
    </div>
    <hr class="ml-0 mb-4 w-16 border-2 border-t border-gray-300" />
    <footer class="relative group hover:-translate-y-px transition">
      <div
        class="group-hover:translate-x-3 group-hover:translate-y-3 group-hover:-rotate-2 origin-top-left transition duration-75 absolute inset-0 bg-purple-800/30 rounded-2xl"
      >
      </div>
      <div
        class="my-16 rounded-2xl shadow-purple-900/10 shadow-xl flex overflow-hidden ring ring-black relative hover:shadow-purple-900/20 hover:shadow-lg transition-all"
      >
        <div
          class="hidden md:block w-full max-w-[12rem] relative overflow-hidden border-r-[3px] border-black"
        >
          <Picture
            src="/src/images/corgi-avatar.png"
            alt="illustration of the Pro Tailwind corgi mascot"
            attributes={{
              img: {
                class: 'min-h-full absolute h-full object-cover origin-right',
              },
            }}
          />
        </div>
        <div class="bg-white p-8 grid place-items-center w-full">
          <div
            class="md:hidden mx-auto mb-4 relative h-32 w-32 ring ring-black rounded-full overflow-hidden"
          >
            <Picture
              src="/src/images/corgi-avatar.png"
              alt="illustration of the Pro Tailwind corgi mascot"
              attributes={{
                img: {
                  class: 'absolute h-full w-full inset-0 object-cover scale-110',
                },
              }}
            />
          </div>
          <p
            class="font-party prose prose-purple prose-lg xl:prose-xl mb-0 text-center md:text-left"
          >
            Sign up to day at <a href="https://protailwind.com">ProTailwind.com</a> ✨
          </p>
        </div>
        <a href="https://protailwind.com" class="absolute inset-0 z-10"></a>
      </div>
    </footer>
  </div>
</PageLayout>
