---
import PageLayout from '~layouts/page.astro'
import List from '~components/list.astro'

const items = (await Astro.glob('./screencasts/**/*.{md,mdx}')).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
)
---

<PageLayout
  title="Screencasts"
  description="Screencasts & content creation"
  gradientStart="from-teal-400"
  gradientEnd="to-sky-500"
>
  <div class="mx-auto max-w-3xl">
    <List items={items} />
  </div>
</PageLayout>
