---
import PageLayout from '~layouts/page.astro'
import List from '~components/list.astro'

const items = (await Astro.glob('./talks/**/*.{md,mdx}')).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
)
---

<PageLayout
  title="Talks"
  description="Public speaking appearances"
  gradientStart="from-rose-500"
  gradientEnd="to-fuchsia-500"
>
  <div class="mx-auto max-w-3xl">
    <List items={items} />
  </div>
</PageLayout>
