---
export interface Props {
  src: string
}

const { src } = Astro.props as Props
---

<div class="max-w-xl">
  <figure>
    <img src={src} alt="" class="rounded-lg shadow-lg" />
    <figcaption>
      <slot />
    </figcaption>
  </figure>
</div>
