---
import TwitterIcon from './icons/twitter.astro'
import YouTubeIcon from './icons/youtube.astro'
import GitHubIcon from './icons/github.astro'

export interface Props {
  gradientStart?: string
  gradientEnd?: string
}

const { gradientStart = '', gradientEnd = '' } = Astro.props as Props

function cx(...classes: string[]) {
  return classes.filter(Boolean).join(' ')
}

const footerClasses =
  gradientStart !== '' && gradientEnd !== ''
    ? cx(
        'bg-gradient-to-br px-4 py-8 font-party text-lg text-white sm:px-8 lg:px-0',
        gradientStart,
        gradientEnd
      )
    : 'px-4 py-8 font-party text-lg text-white sm:px-8 lg:px-0'
---

<footer class={footerClasses}>
  <div class="mx-auto max-w-4xl flex flex-col sm:flex-row sm:justify-between items-center gap-6">
    <p>
      Built with{' '}
      <a
        class="inline-block rotate-2 bg-white/25 px-2 pt-1 hover:rotate-0"
        href="https://astro.build"
      >
        Astro
      </a>{' '}and{' '}
      <a
        class="inline-block -rotate-3 bg-white/25 px-2 pt-1 hover:rotate-0"
        href="https://tailwindcss.com"
      >
        Tailwind CSS
      </a>
    </p>
    <ul class="flex gap-6">
      <li>
        <a href="https://twitter.com/simonswiss">
          <span class="sr-only">Twitter</span>
          <TwitterIcon class="h-6 w-6 hover:-rotate-6 hover:scale-150 transition hover:text-black" />
        </a>
      </li>
      <li>
        <a href="https://youtube.com/@simonswiss">
          <span class="sr-only">YouTube</span>
          <YouTubeIcon class="h-6 w-6 hover:rotate-6 hover:scale-150 transition hover:text-black" />
        </a>
      </li>
      <li>
        <a href="https://github.com/simonswiss">
          <span class="sr-only">GitHub</span>
          <GitHubIcon class="h-6 w-6 hover:-rotate-6 hover:scale-150 transition hover:text-black" />
        </a>
      </li>
    </ul>
  </div>
</footer>
