---
import { Image } from 'astro:assets'
import corgis from '@/assets/images/corgi-avatar.png'
---

<footer class="group relative transition hover:-translate-y-px">
  <div
    class="absolute inset-0 origin-top-left rounded-2xl bg-purple-800/30 transition duration-75 group-hover:translate-x-3 group-hover:translate-y-3 group-hover:-rotate-2"
  >
  </div>
  <div
    class="relative my-16 flex overflow-hidden rounded-2xl shadow-xl shadow-purple-900/10 ring ring-black transition-all hover:shadow-lg hover:shadow-purple-900/20"
  >
    <div
      class="relative hidden w-full max-w-[12rem] overflow-hidden border-r-[3px] border-black md:block"
    >
      <Image
        src={corgis}
        alt="illustration of the Pro Tailwind corgi mascot"
        class="absolute h-full min-h-full origin-right object-cover"
      />
    </div>
    <div class="grid flex-1 place-items-center bg-white p-8">
      <div
        class="relative mx-auto mb-4 h-32 w-32 overflow-hidden rounded-full ring ring-black md:hidden"
      >
        <Image
          src={corgis}
          alt="illustration of the Pro Tailwind corgi mascot"
          class="absolute inset-0 h-full w-full scale-110 object-cover"
        />
      </div>
      <div
        class="prose prose-lg prose-purple mb-0 text-center font-party xl:prose-xl md:text-left"
      >
        <slot>
          <p>
            I'm building <a href="https://protailwind.com">Pro Tailwind</a>, an
            advanced-level course on Tailwind CSS. We dig into techniques that
            scale up with your team. <a href="https://protailwind.com"
              >Sign up today!</a
            >
          </p>
        </slot>
      </div>
    </div>
    <a href="https://protailwind.com" class="absolute inset-0 z-10"></a>
  </div>
</footer>
