---
import BaseHead from '../components/base-head.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

// Props
export interface Props {
  title: string
  description: string
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="antialiased">
    <main>
      <slot />
    </main>
  </body>
</html>
