---
import BaseHead from '../components/base-head.astro'
import { SITE_TITLE, SITE_DESCRIPTION, SEO_IMAGE } from '../config'

// Props
export interface Props {
  title: string
  description: string
  image?: string
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = SEO_IMAGE,
} = Astro.props as Props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="antialiased selection:bg-purple-400 selection:text-white">
    <main>
      <slot />
    </main>
  </body>
</html>
